<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="В Black Tablet мы верим, что кофе - это больше, чем просто напиток, это опыт. Наши увлеченные бариста стремятся создать идеальную чашку для любого вкуса, используя только лучшие зерна со всего мира.">
    <meta name="keywords" content="кофе, идеальная чашка, большой ассортимент, вкусный кофе, лучшие зерна, уютная атмосфера, удобное месторасположение, недалеко от дома, веранда, открыто с 8:00">

    <title>The Black Tablet: Где Кофе встречается с Магией</title>
    <link rel="stylesheet" href="{% static 'catalog/css/MainPage.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}">

</head>
  <body>
  {% include 'includes/header.html' %}
    {% block content %}
        Контент не подвезли :(
      {% endblock %}

  {% include 'includes/footer.html' %}
  <script src="{% static 'catalog/js/MainPage.js' %}"></script>
  </body>
</html>