{% load static %}
<header class="container">
    <img src="img/logo.png" alt="">
    <span class="logo"><a href="{% url 'catalog:index' %}"> The Black Tablet</a></span>
    <nav>
        <ul id="menu">
            <li><a href="{% url 'catalog:index' %}" class="active">Главная</a></li>
            <li><a href="{% url 'catalog:catalog' %}">О нас</a></li>
            <li><a href="{% url 'catalog:catalog' %}">Меню</a></li>
            <li><a href="{% url 'catalog:catalog' %}">Новости</a></li>
            <li><a href="{% url 'catalog:catalog' %}">Контакты</a></li>
        </ul>
        <div class="main">
            <a href="{% url 'catalog:catalog' %}" class="market"><i class="ri-market-fill"></i> Заказать онлайн</a>
            <div class="bx-menu" id="menu-icon">&#9776;</div>
        </div>
    </nav>
</header>