{% load static %}
<header>
    <nav class="main-nav">
        <div class="nav-left" style="position: relative; left: -100px;">
            <ul>
                <li><a href="{% url 'catalog:index' %}" style="position: relative; left: -100px;">Главная</a></li>
                <li><a href="{% url 'about:company' %}">О нас</a></li>

            </ul>
        </div>
        <div class="logo">The Black Tablet</div>
        <div class="nav-right" style="position: relative; left: 100px;">
            <ul>
                <li><a href="{% url 'catalog:coffee' %}">Блог о кофе</a></li>
                <li><a href="{% url 'catalog:contact' %}" style="position: relative; left: 100px;">Контакты</a></li>
            </ul>
        </div>
    </nav>
</header>