{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="card1">
        <div class="card1-our">
            <div class="our-card">
                <h1>О Нас</h1>
                <p>В The Black Tablet мы верим, что кофе - это больше, чем просто напиток, это опыт. Наши увлеченные бариста стремятся создать идеальную чашку для любого вкуса, используя только лучшие зерна со всего мира. Расположенное в самом центре города, наше кафе предлагает теплую и уютную обстановку, в которой можно расслабиться, пообщаться с друзьями или просто насладиться тишиной. Откройте для себя искусство приготовления кофе в The Black Tablet.</p>
                <button class="btn">Контакты</button>
            </div>
            <div class="card1-img">
                <img src="{% static 'catalog/img/card1.png' %}" alt="Кофе машинка">
            </div>
        </div>
    </section>

    <section class="coffee">
        <div class="coffee-card">
            <div class="coffee-card-text">
                <h1>Кофе в The Black Tablet: коротко и вкусно</h1>
                <p>В The Black Tablet вас ждут более 15 сортов кофе со всего мира, от ароматных арабик до мощных робуст.

                    Попробуйте:

                    Эфиопский Идилли: яркий, цитрусовый, с нотами черники.

                    Бразильский Сантос: сбалансированный, с легкой ореховой сладостью.

                    Колумбийский Хуила: богатый, с фруктовыми акцентами и шоколадным послевкусием.

                    Выбирайте готовый напиток или заваривайте кофе по-своему с помощью френч-пресса, кофеварки V60 или аэропресса.

                    The Black Tablet - это кофейное удовольствие в каждой чашке!
                </p>
                <button class="btn">Купить</button>
            </div>
        </div>
    </section>

<li><a href="{% url 'catalog:catalog' %}">Купить</a></li>

                {% if request.user.is_authenticated%}
                <li>Пользователь: {{ user.username }}
                    <form method="post" action="{% url 'users:logout' %}"> {% csrf_token %}
                        <button type="submit">Выйти</button>
                    </form>
                </li>
                {% endif %}
{% endblock %}



