<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="В Black Tablet мы верим, что кофе - это больше, чем просто напиток, это опыт. Наши увлеченные бариста стремятся создать идеальную чашку для любого вкуса, используя только лучшие зерна со всего мира.">
    <meta name="keywords" content="кофе, идеальная чашка, большой ассортимент, вкусный кофе, лучшие зерна, уютная атмосфера, удобное месторасположение, недалеко от дома, веранда, открыто с 8:00">

    <title>The Black Tablet: Где Кофе встречается с Магией</title>

    <link rel="stylesheet" href="/TheBlackTablet/TheBlackTablet/static/css/MainPage.css">
    <link rel="stylesheet" href="/TheBlackTablet/TheBlackTablet/static/css/style.css">

</head>
<body>
    <header>
        <nav class="main-nav">
            <div class="nav-left" style="position: relative; left: -100px;">
                <ul>
                    <li><a href="#" style="position: relative; left: -100px;">Главная</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
            </div>
            <div class="logo">The Black Tablet</div>
            <div class="nav-right" style="position: relative; left: 100px;">
                <ul>
                    <li><a href="#">Рецепты</a></li>
                    <li><a href="#" style="position: relative; left: 100px;">Контакты</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="card1">
        <div class="card1-our">
            <div class="our-card">
                <h1>О Нас</h1>
                <p>В The Black Tablet мы верим, что кофе - это больше, чем просто напиток, это опыт. Наши увлеченные бариста стремятся создать идеальную чашку для любого вкуса, используя только лучшие зерна со всего мира. Расположенное в самом центре города, наше кафе предлагает теплую и уютную обстановку, в которой можно расслабиться, пообщаться с друзьями или просто насладиться тишиной. Откройте для себя искусство приготовления кофе в The Black Tablet.</p>
                <button class="btn">Контакты</button>
            </div>
            <div class="card1-img">
                <img src="/TheBlackTablet/TheBlackTablet/static/img/card1.png" alt="Кофе машинка">
            </div>
        </div>
    </section>

<!--    Поставить картинку и выровнять ее. Так же поступить со 2 блоком.-->


    <section class="coffee">
        <div class="coffee-card">
            <div class="coffee-card-text">
                <h1>Кофе в The Black Tablet: коротко и вкусно</h1>
                <p>В The Black Tablet вас ждут более 15 сортов кофе со всего мира, от ароматных арабик до мощных робуст.

                    Попробуйте:

                    Эфиопский Идилли: яркий, цитрусовый, с нотами черники.

                    Бразильский Сантос: сбалансированный, с легкой ореховой сладостью.

                    Колумбийский Хуила: богатый, с фруктовыми акцентами и шоколадным послевкусием.

                    Выбирайте готовый напиток или заваривайте кофе по-своему с помощью френч-пресса, кофеварки V60 или аэропресса.

                    The Black Tablet - это кофейное удовольствие в каждой чашке!
                </p>
                <button class="btn">Купить</button>
            </div>
            <div class="coffee-img">
                <img src="/TheBlackTablet/TheBlackTablet/static/img/coffee-img.png" alt="Кофе машинка">
            </div>
        </div>
    </section>


</body>
</html>