@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    color: #fff;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 18px;
    line-height: 1;
}

.container {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 45px 150px;
}

.logo{
    font-size: 40px;
    font-weight: 90;
    margin: 0 50px;
}

header nav{
    float: right;
    width: 40%;
    margin: 0 100px;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

header nav ul li{
    display: inline-block;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: auto;
    height: 3px;
    background: #f04451;
    border-radius: 15px;

}



header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 3px solid #f04451;
    border-radius: 100px 100px 10px 10px;
    transition: all 0.2s;
}

header nav ul li.btn a{
    background: #f04451;
    padding: 13px 15px;
    border-radius: 15px;
    transition: all 0.25s;
    border: none;
}

header nav ul li.btn a:hover{
    background: #bf13e6;
}

.main {
    display: flex;
    align-items: center;
}

.market {
    margin-right: 20px;
}

.bx-menu {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f9f9f9;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    .bx-menu {
        display: block;
    }

    .main {
        justify-content: flex-end;
    }
}
